/* EmployeeList css */

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
}

.card {
    flex: 0 0 calc(30% - 1rem);
    margin-bottom: 1rem;
}

@media (max-width: 1314px) {
    .card {
        flex: 0 0 calc(48% - 1rem);
    }
}
