@page "/"
@inherits EmployeeListBase;
 
@using Microsoft.AspNetCore.Components.Authorization

<head>
	<link rel="stylesheet" href="/css/EmployeeList.css" />
</head>


<AuthorizeView>

			<NotAuthorized>
				<h3> You are not authorized to access this page</h3>
			</NotAuthorized>
			 <Authorized >
            <h3> Hello, @context.User.Identity.Name</h3
				
			
			
			<h3> Selected Employee @SelectedEmployeesCount</h3>

			<input type="checkbox" id="showFooter" @bind="ShowFooter" />
			<label for="showFooter">Show Footer</label>

			@if (Employees == null)
			{
				<div class="spinner"></div>
			}
			else
			{
				<div class="card-deck">
					@foreach (var employee in Employees)
					{
						<DisplayEmployee Employee="employee" ShowFooter="ShowFooter" OnEmployeeSelection="EmployeeSelectionChanged">
						</DisplayEmployee>
					}
				</div>
}

			
			</Authorized>


</AuthorizeView>

