/* EmployeeList css */
 
h3
{
    margin-top: 10px;
    color: black;
    text-align: center;
 
}
.selectandfootercontent {
    color: black;
    text-align: center;
    margin-top: 1rem;
}
.contentList {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 88vh;
}
.card-deck {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     
     
}

.card {
    flex: 0 0 calc(30% - 1rem);
    margin-bottom: 1rem;

}

.sticky-button {
    font-family: 'Roboto', sans-serif;
    background-color: blue !important; /* Remove !important for testing */
    color: white;
    position: fixed;
    bottom: 80px;
    left: 20px;
    width: 200px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    z-index: 1000;
    padding: 10px;
}

    .sticky-button:hover {
        background-color: yellow !important;
        color: black;
        font-family: 'Roboto', sans-serif;

    }


.addemployeecontent{
    display: flex;
}
@media (max-width: 1314px) {
    .card {
        flex: 0 0 calc(48% - 1rem);
    }
}


