@page "/loginPage"
@using BlazorEmployeeApplication.Components
@inherits LoginBase
<AuthorizeView>
    <NotAuthorized>

        <section class="containerSection ">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">

                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                             class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                        <form @onsubmit="HandleSubmit">

                            <!-- user input -->
                            <div class="mb-4">
                                <label class="form-label" for="form3Example3">Email address</label>
                                <input id="form3Example3" class="form-control form-control-lg" placeholder="Enter a valid email address" @bind="username" />
                            </div>

                            <!-- Password input -->
                            <div class="mb-3">
                                <label class="form-label" for="form3Example4">Password</label>
                                <input type="password" id="form3Example4" class="form-control form-control-lg" placeholder="Enter your password" @bind="password" />

                            </div>

                            @*
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Checkbox -->
                                <div class="form-check mb-0">
                                    <input class="form-check-input me-2" type="checkbox" id="form2Example3" @bind="rememberMe" />
                                    <label class="form-check-label" for="form2Example3">
                                        Remember me
                                    </label>
                                </div>
                                <a href="#!" class="text-body">Forgot password?</a>
                            </div>
                            *@

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!" class="link-danger">Register</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



        </section>
        <Footer />
    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>You are already logged in</h3>
            <h3>Hello, @context.User.Identity.Name</h3>
        </div>
    </Authorized>
   
</AuthorizeView>
 