<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/9e4e9061-da0a-435c-8003-6ce113a84bff/resourceGroups/webappemployeesystem/providers/Microsoft.ContainerRegistry/registries/webappcontainerregistry97</ResourceId>
    <ResourceName>webappcontainerregistry97</ResourceName>
    <ResourceGroup>webappemployeesystem</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://webappcontainerregistry97.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d0922e40-6df9-4b17-8a2f-63504dea03aa</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>