<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/9e4e9061-da0a-435c-8003-6ce113a84bff/resourceGroups/webappemployeesystem/providers/Microsoft.ContainerRegistry/registries/EmployeeManagmentApi20241018004301</ResourceId>
    <ResourceName>EmployeeManagmentApi20241018004301</ResourceName>
    <ResourceGroup>webappemployeesystem</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://employeemanagmentapi20241018004301.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7640a183-5f95-4810-822f-c359dc510962</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
    <TargetFramework>net7.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>